/*==================================================
    Authour: Henok T.
    Pizzeria Ordering Website
====================================================
   --> A js project at The Tech-Academy PDX.
   --> Written based on an example tutorial.
====================================================*/


body {
    padding: 0;
    margin: 0;
    background: url('../img/pizzaPic.jpg') no-repeat center;
    background-size: cover;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    font-weight: bold;
    font-size: 4rem;
    text-shadow: 0px 0px 30px rgb(8, 7, 7), 0px 0px 30px rgb(8, 7, 7);
    color: #f42626;
    text-align: center;
    font-family: 'Sriracha', cursive;
    margin: 2px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
}

.container {
    padding-top: 30px;
    padding-bottom: 25px;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 30px 3px rgba(179, 169, 169, 0.5);
    margin: 20px 50px;
    background: linear-gradient(135deg, rgba(77, 5, 5, 0.33), transparent 45%), linear-gradient(300deg, rgba(77, 5, 5, 0.33), transparent 45%);
}

#frmMenu {
    padding: 10px;
    margin: 0% auto;
    width: 990px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

.menu {
    box-shadow: 0 0 10px 0px rgba(221, 232, 199, 0.78);
    padding: 5px;
    margin: 10px;
    background: linear-gradient(135deg, rgba(247, 243, 243, 0.60), transparent 65%), linear-gradient(300deg, rgba(247, 243, 243, 0.60), transparent 65%), url("../img/green%20leaf.png");
    border-radius: 5px;
    opacity: 0.7;
    text-shadow: 1px 0px 15px rgb(255, 255, 255);
}


.menu h3 {
    margin: 0 auto;
    text-align: center;
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: white;
}

/* ==========SHOPING CART========= */
#cart {

    margin: 15px auto;
    width: 550px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    /* background-color:lightslategray; */
    box-shadow: 0 0 20px 0 rgba(14, 6, 6, 0.8);
    border-radius: 10px;
    opacity: 0;
}

.titles {
    background-color: rgba(144, 74, 4, 0.8);
    padding: 0 0 0px 10px;
    color: white;
    flex: 1 250px;
    height: 40px;
    width: 250px;
    margin-top: 1px;
    line-height: 2px;
}

#title1 {
    border-radius: 10px 0 0 0;
}

#title2 {
    border-radius: 0 10px 0 0;
}

.texts {
    font-size: 18px;
    padding: 1px 0 10px 10px;
    width: 250px;
    background-color: antiquewhite;
    flex: 1 250px;
}

.prices {
    flex: 1 250px;
    font-weight: bold;
    width: 250px;
    color: white;
    background-color: rgba(144, 74, 4, 0.8);
}

#totalPrice1 {
    padding: 0 0 10px 10px;
    border-bottom-left-radius: 10px;
    line-height: 2px;
}

#totalPrice2 {
    padding: 20px 0 10px 10px;
    border-bottom-right-radius: 10px;
    line-height: 1px;
}

/* ==========order/cancel buttons========= */

.button {
    font-size: 20px;
    cursor: pointer;
    color: black;
    width: 100%;
    padding: 0px;
    display: block;
    text-decoration: none;
    border-radius: 10px;
    background-color: #e0e0e0;
    text-align: center;
}

.button:hover {
    background-image: linear-gradient(to right, rgb(100, 228, 252),
        rgb(253, 253, 51), #60e8fa, rgb(100, 228, 252));
    background-position: 60% 0;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    cursor: pointer;
    text-align: justify;
    border: none;
    background-size: 300% 100%;
    font-weight: bold;
    text-align: center;
}

.controls {
    display: flex;
    flex-direction: columns;
    justify-content: space-between;
    margin: 0 auto;
    width: 900px;
}

.controls .button {
    margin-right: 35px;
    margin-left: 5px;
}

@media screen and (max-width: 600px) {
    .button {
        overflow: hidden;
        display: inline-flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
    }
}